@import '../../styles/mixins.scss';
page {
	background:#f6f6f6;
}
.create-wrap {
	margin-top:60px;
	.item {
		display:flex;
		position: relative;
		margin-bottom:30px;
		margin-left:20px;
		font-size:28px;
		.warn {
			position: absolute;
			top:63px;
			left: -16px;
			font-size: 20px;
			color: #333;
		}
		.l-letter {
			width:142px;
			height:80px;
			line-height:80px;
			color:#333;
		}
		.input-wrap {
			width:70%;
			height:80px;
			border:1px solid #cdcbcc;
			background:#fff;
			color:#999;
			.input {
				margin-top:20px;
				box-sizing:border-box;
				padding-left:20px;
				color: #999;
			}
		}
		.role {
			color:#333;
			margin-top:25px;
			.b {
				width: 24px;
				height: 14px;
				margin-left: 20px;
				vertical-align: middle;
			}
		}
		.picker-box {
			margin-right:100px;
			background:#fff;
			padding: 0 10px;
			border: 1px solid #cdcbcc;
		}
	}
	.confirm-create {
		margin:70px auto;
		@include big-btn;
	}
}
