@import '../../../../styles/mixins.scss';

.time-wrap {
	position:relative;
	.time-select {
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
		height:92%;
		background:rgba(0,0,0,0.4);
		z-index:99;
	}
	.select-wrap {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:390px;
		background:#fff;
		z-index:99;
		.select-con {
			display:flex;
			justify-content:center;
			.zhi {
				font-size:26px;
				height:152px;
				line-height:10;
				color: #666;
			}
			.start,.end {
				width:45%;
				margin-top:48px;
				text-align:center;
				.d {
					color: #666;
				}
				.start-name,.end-name {
					display:block;
					font-size:36px;
					margin-bottom:40px;
				}
				.start-time,.end-time {
					font-size:44px;
					font-weight:bold;
				}
			}
		}
	}
	.confirm {
		margin:72px auto 0 auto;
		display:block;
		@include big-btn;
	}
}

