page {
	padding: 0;
}
.cpc-purchase {
	.purchase-title {
		font-size:28px;
		color:#666;
		margin-top:66px;
	}
	.cpc-wrap {
		margin-top:70px;
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
		.item {
			width:306px;
			height:80px;
			margin-bottom:40px;
			text-align:center;
			line-height:80px;
			font-size:28px;
			background:#f6f6f6;
			color:#666;
			border-radius:12px;
			&.active {
				background:#3ba9db;
				color:#fff;
			}
		}
	}
	.purchase-now {
		width:70%;
		height:80px;
		margin:120px auto 60px;
		text-align:center;
		line-height:80px;
		font-size:28px;
		color:#fff;
		box-shadow: 0 10px 10px -5px rgba(0,0,0,0.2);
		background:#3ba9db;
		border-radius:12px;
	}
	.protocol-wrap {
		text-align:center;
		font-size:26px;
		color:#666;
		.check-img {
			width:24px;
			height:24px;
		}
		.protocol {
			color:#3ba9db;
		}
	}
}