/* 公共样式 */
.y_container {
    width: 1200px;
    margin: 0 auto;
    color: #484848;
}
.theme_color {
    background-color: #386ed3;
}


/* 分页 */
.nextpage {
    /* float: right; */
    height: 28px;
}
.nextpage a:link, .nextpage a:visited {
    color: #666;
}
.nextpage a {
    display: inline-block;
    float: left;
    height: 28px;
    padding: 0 10px;
    margin-right: 10px;
    line-height: 28px;
    background: #fff;
    color: #666;
    border: 1px solid #ddd;
}
.nextpage a.current {
    display: block;
    float: left;
    height: 28px;
    padding: 0 10px;
    margin-right: 10px;
    line-height: 28px;
    background: #386ed3;
    color: #fff;
}
.nextpage span {
    float: left;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    font-size: 12px;
}
.nextpage i {
    float: left;
    margin-right: 11px;
    line-height: 23px;
}
.nextpage span input {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    margin: 0 7px;
}
.nextpage span button {
    width: 40px;
    height: 30px;
    border: 1px solid #ddd;
    margin: 0 7px;
    background-color: #fff;
}

/* company */

.company {
    position: relative;
    margin: 35px 0;
}

.company .company_hd {
    width: 264px;
}

.company .company_hd a {
    text-decoration: none;
}

.company .company_hd a h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #fe4040;
    font-size: 15px;
    font-weight: 700;
}

.company .company_hd span {
    display: block;
    margin-bottom: 15px;
    background: url(../images/star.png);
    width: 63px;
    height: 11px;
}

.company .company_hd p {
    color: #484848;
    font-size: 11px;
    margin-bottom: 0;
}

.company .icon_collect {
    background: url(../images/collect.png);
    width: 74px;
    height: 22px;
    margin-top: -5px;
}

.company .phone {
    position: absolute;
    right: 196px;
}

.company .phone .icon_phone {
    width: 28px;
    height: 28px;
    background: url(../images/phone.png);
    position: absolute;
    left: -40px;
    top: -4px;
}

.company .phone span:last-child {
    font-size: 14px;
    color: #fe4040;
}

/* nav */

.nav {
    width: 100%;
    height: 30px;
}

.nav ul li {
    width: 140px;
    height: 29px;
    float: left;
}

.nav ul li:hover a {
    background-color: #fff;
}

.nav ul li.active a {
    background-color: #fff;
    color: #386ed3;
}

.nav ul li a {
    display: block;
    text-align: center;
    line-height: 29px;
    color: #fff;
    text-decoration: none;
}


/* tab_list */
.tab_list {
    padding-bottom: 28px;
}
.tab_list .tab_hd h2 {
    float: left;
    width: 124px;
    line-height: 40px;
    text-align: center;
    color: #3863c9;
    border-bottom: 2px solid #3863c9;
}
.tab_list .tab_hd a {
    display: block;
    float: right;
    line-height: 42px;
    color: #666;
}
.tab_list .tab_hd a span {
    margin: 0 4px;
    font-family: "SimSun";
}
.tab_list .tab_bd {
    padding: 18px 8px 0px 12px;
    color: #666;
}
/* 带着20px左缩进的ul */
.tab_list .tab_bd .tab_tract {
    padding-left: 20px;
}
/* 图片 */
.tab_list .tab_bd .tab_tract .tab_pro li {
    float: left;
    margin-right: 13px;
    margin-bottom: 21px;
}
.tab_list .tab_bd .tab_tract .tab_pro li:nth-child(4n){
    margin-right: 0;
}
.tab_list .tab_bd .tab_tract .tab_pro li p {
    color: #333;
    width: 220px;
    height: 58px;
    line-height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 14px;
}
/* 分类 */
.tab_list .tab_bd .tab_tract .tab_cate li {
    float: left;
    margin-right: 165px;
    line-height: 35px;
}
.tab_list .tab_bd .tab_tract .tab_cate li:nth-child(5n){
    margin-right: 0;
}
.tab_list .tab_bd .tab_tract .tab_cate li a {
    color: #666;
}
/* 资质证书 */
.tab_list .tab_bd .tab_tract .permit p {
    width: 280px;
    text-align: center;
    line-height: 30px;
}
.tab_list .tab_bd .tab_tract .permit p:last-of-type a{
    color: #386ed3;
}
/* 文字段落 */
.tab_list .tab_bd .f_l {
    width: 726px;
}
.tab_list .tab_bd .f_l p {
    line-height: 21px;
}
.tab_list .tab_bd .f_l p:last-of-type {
    margin-top: 15px;
}
.tab_list .tab_bd .f_r {
    
}

/* 分列列表表 */
.tab_list dl {
    float: left;
    margin-right: 200px;
}
.tab_list dl:first-of-type {
    margin-left: 11px;
}
.tab_list dl:last-child {
    margin-right: 0;
}
.tab_list dl dt {
    line-height: 48px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}
.tab_list dl dd {
    margin-bottom: 19px;
    color: #666;
}
.tab_list dl dd a {
    color: #666;
}


/* recommend_list */
.recommend_list .tab_hd {
    margin-bottom: 15px;
}
.recommend_list .tab_hd li {
    float: left;
    width: 183px;
    text-align: center;
    font-size: 17px;
}
.recommend_list .tab_hd li a {
    color: #333;
}
.recommend_list .tab_hd li.active a {
    color: #3863c9;
}
/* 信息推荐 */
.recommend_list .recommend_news li {
	float: left;
    width: 183px;
    height: 222px;
	padding-bottom: 33px;
}
.recommend_list .recommend_news li a {
	display: block;
	width: 100%;
}
.recommend_list .recommend_news li a img {
	width: 100%;
}
.recommend_list .recommend_news li p {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 168px;
	padding: 0 10px;
	font-size: 12px;
	color: #666;
}
.recommend_list .recommend_news li span {
	display: inline-block;
	padding-top: 10px;
	margin-left: 10px;
	font-size: 13px;
	color: red;
}
/* 公司推荐 */
.recommend_list .recommend_company,.recommend_pro {
    padding: 25px 82px 0 82px;
}
.recommend_list .recommend_company li {
    line-height: 37px;
    float: left;
    margin-right: 155px;
}
.recommend_list .recommend_company li:nth-child(3n){
    margin-right: 0;
}
.recommend_list .recommend_company li a {
    color: #333;
    font-size: 12px;
}
/* 产品推荐 */
.recommend_list .recommend_pro li {
    float: left;
    line-height: 37px;
    margin-right: 109px;
}
.recommend_list .recommend_pro li:nth-child(5n){
    margin-right: 0;
}
.recommend_list .recommend_pro li a {
    color: #333;
    font-size: 12px;
}

/* main_title */
.main .title {
    height: 49px;
    /* padding: 10px 0; */
}

.main .title p {
    line-height: 49px;
    margin: 0;
    font-size: 11px;
}

.main .title form {
    margin-top: 10px;
}

.main .title form input {
    width: 120px;
    height: 26px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    margin-right: 32px;
}

.main .title form button {
    background-color: #fe4040;
    border-radius: 5px;
    border: 0;
    width: 60px;
    height: 26px;
}

.main .title form button a {
    color: #fff;
}

.main .title form button:first-child {
    margin-right: 15px;
}

/* main left */
.main .left {
    width: 206px;
}

.main .left h2 {
    height: 30px;
    font-size: 16px;
    color: #fff;
    padding: 10px 0 0 14px;
    margin: 0;
}

.main .left .item_info {
    padding: 18px 0 32px 14px;
}

.main .left .item_info h3 {
    margin: 0;
    font-size: 14px;
    margin-bottom: 19px;
}

.main .left .item_info h3 a {
    color: #333;
    text-decoration: none;
}

.main .left .item_info ul li {
    height: 18px;
    margin-bottom: 7px;
    font-size: 12px;
    color: #7c7c7c;
}

.main .left .item_info ul li a {
    color: #7c7c7c;
}

.main .left .item_info ul li .qq_talk {
    display: inline;
    color: #386ed3;
}

.main .left .item_info ul li:last-child {
    padding-bottom: 0;
}


.main .left .item_info .icon_info_star {
    width: 16px;
    height: 15px;
    background: url(../images/one_star.png);
    display: inline-block;
}

.main .left .item_info .icon_info_phone {
    /* width: 110px; */
    height: 18px;
    background-color: #f0f0f0;
    display: inline-block;
    color: #ddd;
}

.main .left .item_info .icon_info_license {
    display: inline-block;
    width: 24px;
    height: 16px;
    background: url(../images/license.png);
}

.icon_info_license, .icon_info_phone, .icon_info_star {
    vertical-align: middle;
}

.main .left .item_info a {
    display: block;
}

.main .left .item_info button {
    display: block;
    border: 0;
    width: 160px;
    height: 20px;
    margin-bottom: 14px;
    font-size: 12px;
}

.main .left .item_info button a {
    color: #fff;
}

.main .left .item_info .left_bottom a {
    float: left;
    display: block;
    background-color: #f0f0f0;
    font-size: 12px;
    width: 76px;
    height: 20px;
    margin-left: 4px;
    line-height: 20px;
    color: #7c7c7c;
}

.icon_info_collect, .icon_info_share {
    margin-top: 3px;
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../images/blank_star.png)
}

.icon_info_share {
    background: url(../images/spare.png)
}

.icon_contacts, .icon_fax, .icon_email, .icon_site {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(../images/contacts.png);
    background-repeat: no-repeat;
    margin-right: 12px;
    vertical-align: middle;
}

.icon_fax {
    background-image: url(../images/fax.png);
}

.icon_email {
    background-image: url(../images/email.png);
}

.icon_site {
    background-image: url(../images/site.png);
}

.icon_qq {
    margin: -3px 6px 0 6px;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-image: url(../images/qq.png);
}

.main .left .left_item h2 a {
    float: right;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

.icon_arr_right {
    margin: 0 7px 0 5px;
    display: inline-block;
    width: 8px;
    height: 10px;
    background-image: url(../images/arr_right.png);
}


/* 底部 友情链接 */
.nav_bottom_box {
	width:100%;
	background:#f5f5f5;
    border-bottom:1px solid #999;
    overflow: hidden;
}
.nav_bottom_box .nav_bottom {
	width:1200px;
	margin: 57px auto 0 auto;
	padding-bottom:30px;
}
.nav_bottom .friend_link dt {
	font-size: 15px;
	color:#1c1c1c;
	box-sizing:border-box;
	padding:34px 0 20px 0;
}
.nav_bottom .friend_link dd {
	margin:0 12px 0 8px;
	float: left;
}
.nav_bottom .friend_link dd span {
	color:#999;
	margin-left:12px;
}
.nav_bottom .friend_link dd a { 
	color:#666;
}
.nav_bottom .web_link dl {
	margin-right:212px;
	float: left;
}
.nav_bottom .web_link dl:nth-child(5n+5) {
	margin-right:0;
}
.nav_bottom .web_link dt {
	font-size:15px;
	color:#1c1c1c;
	margin:39px 0 20px 0;
}
.nav_bottom .web_link dd {
	margin-top:11px;
}
.nav_bottom .web_link dd a {
	color:#666;
}
footer {
	width:100%;
	background:#f5f5f5;
	text-align:center;
	padding-bottom:34px;
}
footer .letter {
	color: #1c1c1c;
	padding-top:20px;	
}
footer .letter a {
	margin-left:16px;
	color:#666;
}
footer .inside_link {
	margin-top:20px;
}
footer .inside_link a {
	color: #666;
}
footer .inside_link span {
	color:#999;
	margin:0 12px;
}
footer .approve {
	margin-top:20px;
}
footer .approve p a {
	color:#666;
}
footer .approve p:nth-child(2) {
	margin-top:5px;
}
footer .pic_link {
	margin-top:20px;
}
footer .pic_link a {
	display:inline-block;
	width:112px;
	height:41px;
	background:url(../imgs/icon.png) no-repeat;
	margin-right:12px;
}
footer .pic_link a:nth-child(1) {
	background-position: -160px -311px;
}
footer .pic_link a:nth-child(2) {
	background-position: -160px -170px;
}
footer .pic_link a:nth-child(3) {
	background-position: -160px -241px;
}
footer .pic_link a:nth-child(4) {
	background-position: -160px -100px;
}


/* top下拉菜单 */
/* 下拉菜单 */
.headtop_nav_con_r{ float:right; height:30px; }
.headtop_nav_con_r_common{ float:left; position:relative; margin-left:15px; z-index:99; }
.headtop_nav_con_r_common span{ display:block; float:left; height:30px; line-height:30px; text-align:right; padding-right:12px; background:url(http://jic.makepolo.net/img/global/arr_down_back.png) center right no-repeat; cursor:pointer; }
/*new-start*/
.headtop_nav_con_r_common span.headtopcon_now_current{ display:block;color:#db4f33; float:left; height:30px; line-height:30px; padding-right:12px; background:url(http://jic.makepolo.net/img/global/arr_down_back.png) center right no-repeat; cursor:pointer; }
.headtop_nav_con_r_common span i {position: absolute;top: -2px;right:51px;margin: 10px 5px 0 4px;width: 9px;height: 14px;display: inline-block;background-image: url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);background-position: -630px -36px;background-repeat: no-repeat;}
.ma i{width:138px;height:148px;background-image:url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);background-position:-148px 0;display:block}
/*new-end*/
.headtop_nav_con_r span.headtopcon_user_current{ color:#db4f33; background:url(http://jic.makepolo.net/img/icon_all/public_icon.png) no-repeat; background-position: 0 -111px; }
.topnavcon_arrow{ position:absolute; left:50%; top:-10px; margin-left:-7px; width:15px; height:10px; background:url(http://jic.makepolo.net/img/icon_all/public_icon.png) no-repeat; background-position: 0 -957px; }
.nums{ position:absolute; right:-12px; top:-13px; width:15px; height:16px; line-height:16px; vertical-align:middle; text-align:center; color:#FFF; background:url(http://jic.makepolo.net/img/icon_all/public_icon.png) no-repeat; background-position: 0 -1617px; }
.topnavcon_user_popup{ display:none; position:absolute; top:37px;left:-43px; padding-top:4px; background:#fff; border:1px #ddd solid; -webkit-box-shadow:1px 1px 1px rgba(0,0,0,.1); box-shadow:1px 1px 1px rgba(0,0,0,.1); }
.topnavcon_user_center div.topnavcon_user_popup{ right:50%; margin-right:-71px; }
.topnavcon_user_name div.topnavcon_user_popup{ right:50%; margin-right:-71px; }
.topnavcon_user_name div.topnavcon_user_popup div.topnavcon_user_item a{ text-align:center; }
.topnavcon_user_message{float:left; position:relative; margin:0 0px 0 15px; z-index:99; height:24px; cursor:pointer; }
.topnavcon_user_message div.topnavcon_user_popup{ left:-62px; padding-bottom:4px; top:25px; }
.topnavcon_user_message div.topnavcon_user_popup div.topnavcon_user_item a{ width:112px; padding:0 10px; text-align:left; overflow:hidden; }
.topnavcon_user_message div.topnavcon_user_popup div.topnavcon_user_item a i{ float:right; }
.topnavcon_user_item{ height:30px; margin:0 4px; }
.topnavcon_user_item a{ display:block; height:30px; line-height:30px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.topnavcon_user_item a:link,.headtopcon_user_item a:visited{ color:#333; }
.topnavcon_user_item a:hover{ color:#db4f33; }
.topnavcon_user_item a:active{ color:#db4f33; }

.topnavcon_user_items { width:145px; padding:5px 10px 7px 10px; }
.topnavcon_user_items dl{ width:145px; }
.topnavcon_user_items dl dt{ height:22px;line-height:22px; vertical-align:middle; font-weight:bold; }
.topnavcon_user_items dl dd{ width:67px; height:22px; line-height:22px; float:left; text-align:left; }
.topnavcon_server div.topnavcon_user_popup{ left:-40px; }
.topnavcon_nav_menu div.topnavcon_user_popup{ left:-80px; }
.dash_line{ width:100%; height:1px; background:url(http://jic.b2b.makepolo.com/img/global/line_sp.gif) repeat-x; margin:6px 0 8px 0; _margin:8px 0 0 0; }

.nav_menu{ width:200px; padding:5px 10px 7px 10px; }
.nav_menu dl{ width:185px; }
.nav_menu dl dt{ height:22px; line-height:22px; vertical-align:middle; font-weight:bold; }
.nav_menu dl dd{ width:90px; height:20px; float:left; }
.topnavcon_help div.topnavcon_user_popup{ left:-30px; }

.nav_help{ width:60px; padding:0 10px 7px 10px; }
.nav_help dl{ width:60px; }
.nav_help dl dd{height:22px; line-height:22px; vertical-align:middle; text-align:center; }
.nav_help dl dd a{ display:block; height:26px; padding:0 5px; line-height:26px; vertical-align:middle; text-align:center; }
.nav_help dl dd a:link,.nav_help dl dd a:visited{ color:#333; }
.nav_help dl dd a:hover{ background:#fff; color:#db4f33; }
.nav_help dl dd a:active{ color:#db4f33; }
.headtopcon_user_member {float: left;height: 30px;line-height: 30px; margin-left: 15px;}