/* 公共样式 */

.y_container {
    width: 1200px;
    margin: 0 auto;
    color: #484848;
}

.theme_color {
    background-color: #386ed3;
}

.text_content {
    padding: 18px 14px 44px 16px;
}


/* 分页 */

.nextpage {
    /* float: right; */
    height: 28px;
}

.nextpage a:link,
.nextpage a:visited {
    color: #666;
}

.nextpage a {
    display: inline-block;
    float: left;
    height: 28px;
    padding: 0 10px;
    margin-right: 10px;
    line-height: 28px;
    background: #fff;
    color: #666;
    border: 1px solid #ddd;
}

.nextpage a.active {
    display: block;
    float: left;
    height: 28px;
    padding: 0 10px;
    margin-right: 10px;
    line-height: 28px;
    background: #386ed3;
    color: #fff;
}

.nextpage span {
    float: left;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    font-size: 12px;
}

.nextpage i {
    float: left;
    margin-right: 11px;
    line-height: 23px;
}

.nextpage span input {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    margin: 0 7px;
}

.nextpage span button {
    width: 40px;
    height: 30px;
    border: 1px solid #ddd;
    margin: 0 7px;
    background-color: #fff;
}


/* company */

.company {
    position: relative;
    padding-left: 15px;
    margin: 35px 0;
}

.company .company_hd {
    width: 264px;
}

.company .company_hd a {
    text-decoration: none;
}

.company .company_hd a h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
    font-size: 17px;
    font-weight: 700;
}

.company .company_hd span {
    display: block;
    margin-bottom: 15px;
    background: url(../images/star.png);
    width: 63px;
    height: 11px;
}

.company .company_hd p {
    color: #484848;
    font-size: 11px;
    margin-bottom: 0;
}

.company .icon_collect {
    background: url(../images/collect.png);
    width: 74px;
    height: 22px;
    margin-top: -5px;
}

.company .phone {
    position: absolute;
    right: 0;
}

.company .phone .icon_phone {
    width: 28px;
    height: 28px;
    background: url(../images/phone.png);
    position: absolute;
    left: -40px;
    top: -5px;
}

.company .phone span:last-child {
    font-size: 18px;
    color: #000;
}


/* nav */

.nav {
    width: 100%;
    height: 30px;
    position: relative;
}

.nav ul {
    display: inline-block;
    position: absolute;
    left: 48%;
    transform: translateX(-48%);
}

.nav ul li {
    width: 140px;
    height: 29px;
    float: left;
}

.nav ul li:hover a {
    margin-top: 1px;
    height: 28px;
    background-color: #fff;
}

.nav ul li.active a {
    background-color: #fff;
    height: 28px;
    margin-top: 1px;
    color: #386ed3;
}

.nav ul li a {
    display: block;
    text-align: center;
    line-height: 29px;
    color: #fff;
    text-decoration: none;
}


/* tab_list */

.tab_list {
    padding-bottom: 28px;
}

.tab_list .tab_hd h2 {
    float: left;
    width: 124px;
    line-height: 40px;
    text-align: center;
    color: #3863c9;
    border-bottom: 2px solid #3863c9;
}

.tab_list .tab_hd a {
    display: block;
    float: right;
    line-height: 42px;
    color: #666;
}

.tab_list .tab_hd a span {
    margin: 0 4px;
    font-family: "SimSun";
}

.tab_list .tab_bd {
    padding: 18px 8px 0px 12px;
    color: #666;
}


/* 带着20px左缩进的ul */

.tab_list .tab_bd .tab_tract {
    padding-left: 20px;
}


/* 图片 */

.tab_list .tab_bd .tab_tract .tab_pro li {
    float: left;
    margin-right: 13px;
    margin-bottom: 21px;
}

.tab_list .tab_bd .tab_tract .tab_pro li:nth-child(4n) {
    margin-right: 0;
}

.tab_list .tab_bd .tab_tract .tab_pro li p {
    color: #333;
    width: 220px;
    height: 58px;
    line-height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 14px;
}


/* 相册 */

.tab_list .tab_bd .tab_album li {
    float: left;
    margin-right: 19px;
    margin-bottom: 21px;
}

.tab_list .tab_bd .tab_album li:nth-child(3n) {
    margin-right: 0;
}

.tab_list .tab_bd .tab_album li img {
    display: block;
}

.tab_list .tab_bd .tab_album li span {
    display: block;
    float: left;
    color: #386ed3;
    height: 32px;
    padding-top: 14px;
    font-size: 13px;
    padding-left: 4px;
}

.tab_list .tab_bd .tab_album li span:last-of-type {
    float: right;
    font-size: 12px;
    color: #999;
}


/* 视频 */

.tab_list .tab_bd .tab_video li {
    position: relative;
    float: left;
    margin-right: 7px;
    margin-bottom: 21px;
}

.tab_list .tab_bd .tab_video li:hover .mask {
    display: block;
}

.tab_list .tab_bd .tab_video li:nth-child(4n) {
    margin-right: 0;
}

.tab_list .tab_bd .tab_video li img {
    display: block;
}

.tab_list .tab_bd .tab_video li p {
    color: #666;
    padding-top: 14px;
    font-size: 13px;
}

.tab_list .tab_bd .tab_video li .video_count {
    padding-top: 14px;
}

.icon_heart {
    display: inline-block;
    width: 18px;
    height: 11px;
    background: url(../images/heart.png) center no-repeat;
    margin-right: 5px;
    margin-left: 16px;
}

.icon_eyes {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 11px;
    background: url(../images/eyes.png) center no-repeat;
}


/* 幕布 */

.mask {
    width: 230px;
    height: 128px;
    background-color: #000;
    position: absolute;
    opacity: 0.2;
    display: none;
}


/* 分类 */

.tab_list .tab_bd .tab_tract .tab_cate li {
    float: left;
    margin-right: 165px;
    line-height: 35px;
}

.tab_list .tab_bd .tab_tract .tab_cate li:nth-child(5n) {
    margin-right: 0;
}

.tab_list .tab_bd .tab_tract .tab_cate li a {
    color: #666;
}


/* 宽产品分类 */

.tab_list .tab_bd .tab_tract .tab_wide li {
    float: left;
    margin-right: 165px;
    line-height: 35px;
}

.tab_list .tab_bd .tab_tract .tab_wide li:nth-child(6n) {
    margin-right: 0;
}

.tab_list .tab_bd .tab_tract .tab_wide li a {
    color: #666;
}


/* 资质证书 */

.tab_list .tab_bd .tab_tract .permit p {
    width: 280px;
    text-align: center;
    line-height: 30px;
}

.tab_list .tab_bd .tab_tract .permit p:last-of-type a {
    color: #386ed3;
}


/* 文字段落 */

.tab_list .tab_bd .f_l {
    width: 726px;
}

.tab_list .tab_bd .f_l p {
    line-height: 21px;
}

.tab_list .tab_bd .f_l p:last-of-type {
    margin-top: 15px;
}


/* 分列列表表 */

.tab_list dl {
    float: left;
    margin-right: 200px;
}

.tab_list dl:first-of-type {
    margin-left: 11px;
}

.tab_list dl:last-child {
    margin-right: 0;
}

.tab_list dl dt {
    line-height: 48px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.tab_list dl dd {
    margin-bottom: 19px;
    color: #666;
}

.tab_list dl dd a {
    color: #666;
}


/* recommend_list */

.recommend_list .tab_hd {
    margin-bottom: 15px;
}

.recommend_list .tab_hd li {
    float: left;
    width: 183px;
    text-align: center;
    font-size: 17px;
}

.recommend_list .tab_hd li a {
    color: #333;
}

.recommend_list .tab_hd li.active a {
    color: #3863c9;
}

.recommend_list .tab_bd {
    height: 222px;
}


/* 宽推荐 */

.recommend_list .tab_hd.wide li {
    float: left;
    width: 193px;
    text-align: center;
    font-size: 17px;
    margin-right: 30px;
}

.recommend_list .tab_hd.wide li:last-of-type {
    margin-right: 0;
}


/* 信息推荐 */

.recommend_news {
    display: none;
}

.recommend_list .recommend_news li {
    float: left;
    width: 183px;
    height: 222px;
    padding-bottom: 33px;
}

.recommend_list .recommend_news li a {
    display: block;
    width: 100%;
}

.recommend_list .recommend_news li a img {
    width: 100%;
}

.recommend_list .recommend_news li p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 168px;
    padding: 0 10px;
    font-size: 12px;
    color: #666;
}

.recommend_list .recommend_news li span {
    display: inline-block;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 13px;
    color: red;
}


/* 公司推荐 */

.recommend_company {
    display: none;
}

.recommend_list .recommend_company {
    padding: 25px 82px 0 82px;
}

.recommend_list .recommend_company li {
    line-height: 37px;
    float: left;
    margin-right: 155px;
}

.recommend_list .recommend_company li:nth-child(3n) {
    margin-right: 0;
}

.recommend_list .recommend_company li a {
    color: #333;
    font-size: 12px;
}


/* 产品推荐 */

.recommend_pro {
    display: none;
    padding: 25px 82px 0 61px;
}

.recommend_list .recommend_pro li {
    float: left;
    line-height: 37px;
    margin-right: 109px;
}

.recommend_list .recommend_pro.wide li {
    margin-right: 152px;
}

.recommend_list .recommend_pro li:nth-child(5n) {
    margin-right: 0;
}

.recommend_list .recommend_pro li a {
    color: #333;
    font-size: 12px;
}


/* 显示隐藏 */

.content_current {
    display: block;
    z-index: 100;
}


/* main_title */

.main .title {
    height: 49px;
    /* padding: 10px 0; */
    padding-left: 16px;
}

.main .title p {
    line-height: 49px;
    margin: 0;
    font-size: 11px;
}

.main .title form {
    margin-top: 10px;
    padding-right: 18px;
}

.main .title form input {
    width: 180px;
    height: 26px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    margin-right: 32px;
}

.main .title form button {
    background-color: #fe4040;
    border-radius: 5px;
    border: 0;
    width: 60px;
    height: 26px;
}

.main .title form button a {
    color: #fff;
}

.main .title form button:first-child {
    margin-right: 15px;
}


/* main left */

.main .left {
    width: 206px;
}

.main .left h2 {
    height: 30px;
    font-size: 16px;
    color: #fff;
    padding: 10px 0 0 14px;
    margin: 0;
}

.main .left .item_info {
    padding: 18px 0 32px 14px;
}

.main .left .item_info h3 {
    margin: 0;
    font-size: 14px;
    margin-bottom: 19px;
}

.main .left .item_info h3 a {
    color: #333;
    text-decoration: none;
}

.main .left .item_info ul li {
    height: 18px;
    margin-bottom: 7px;
    font-size: 12px;
    color: #7c7c7c;
    position: relative;
}

.block2 {
    position: absolute;
    right: -26px;
    top: -5px;
    display: block;
    color: #333;
    width: 154px;
    height: 27px;
    overflow: hidden;
    background: url(http://jic.makepolo.net/img/yellow/slice/telphone.png) no-repeat 0 3px;
    background-size: 100px 18px;
    text-indent: -999em;
    cursor: pointer;
}

.block2.bottom {
    left: 0;
    top: -5px;
}

.main .left .item_info ul li a {
    color: #7c7c7c;
}

.main .left .item_info ul li .qq_talk {
    display: inline;
    color: #386ed3;
}

.main .left .item_info ul li:last-child {
    padding-bottom: 0;
}

.main .left .item_info .icon_info_star {
    width: 16px;
    height: 15px;
    background: url(../images/one_star.png);
    display: inline-block;
}

.main .left .item_info .icon_info_phone {
    /* width: 110px; */
    height: 18px;
    background-color: #f0f0f0;
    display: inline-block;
    color: #ddd;
}

.main .left .item_info .icon_info_license {
    display: inline-block;
    width: 24px;
    height: 16px;
    background: url(../images/license.png);
}

.icon_info_license,
.icon_info_phone,
.icon_info_star {
    vertical-align: middle;
}

.main .left .item_info a {
    display: block;
}

.main .left .item_info button {
    display: block;
    border: 0;
    width: 160px;
    height: 20px;
    margin-bottom: 14px;
    font-size: 12px;
}

.main .left .item_info button a {
    color: #fff;
}

.main .left .item_info .left_bottom a {
    float: left;
    display: block;
    background-color: #f0f0f0;
    font-size: 12px;
    width: 76px;
    height: 20px;
    margin-left: 4px;
    line-height: 20px;
    color: #7c7c7c;
}

.icon_info_collect,
.icon_info_share {
    margin-top: 3px;
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../images/blank_star.png)
}

.icon_info_share {
    background: url(../images/spare.png)
}

.icon_contacts,
.icon_fax,
.icon_email,
.icon_site {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(../images/contacts.png);
    background-repeat: no-repeat;
    margin-right: 12px;
    vertical-align: middle;
}

.icon_fax {
    background-image: url(../images/fax.png);
}

.icon_email {
    background-image: url(../images/email.png);
}

.icon_site {
    background-image: url(../images/site.png);
}

.icon_qq {
    margin: -3px 6px 0 6px;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-image: url(../images/qq.png);
}

.main .left .left_item h2 a {
    float: right;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

.icon_arr_right {
    margin: 0 7px 0 5px;
    display: inline-block;
    width: 8px;
    height: 10px;
    background-image: url(../images/arr_right.png);
}


/* 竖着的标题 */

.vertical_title {
    height: 40px;
    border-left: 2px solid #386ed3;
}

.vertical_title h3 {
    font-size: 16px;
    color: #386ed3;
    line-height: 40px;
    padding-left: 12px;
}


/* 表格 */


/* .table_list li {
    border: 1px solid rgb(194, 194, 194);
    overflow: hidden;
}
.table_list dt,.table_list dd {
    display: inline-block;
    padding: 0 19px 0 16px;
    vertical-align: middle;
    line-height: 1.8;
    border-right: 1px solid rgb(194, 194, 194);
    height: 100%;
}
.table_list dt {
    width: 160px;
}
.table_list dd {
    width: 236px;
} */


/* .table_list {
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid rgb(194, 194, 194);
}
.table_list.bottom {
    margin-top: 20px;
}
table{ border:1px solid rgb(194, 194, 194); }
table tr {
    border-bottom:1px solid rgb(194, 194, 194);
}
table tr:last-child {
    border-bottom:none;
}
table tr td:last-child {
    border-right:none;
}
table tr td {
    border-right:1px solid rgb(194, 194, 194);
}
.table_list tr {
}
.table_list tr {
    display: block;
    overflow: hidden;
    min-height: 35px;
}
.table_list tr td {
    display: flex;
    align-items: center;
    padding: 5px 19px 5px 16px;
    vertical-align:middle;
    height: 35px;
    float: left;
}
.table_list tr td:nth-child(1n) {
    width: 160px;
}
.table_list tr td:nth-child(2n) {
    width: 236px;
} */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: auto;
    page-break-inside: auto;
    text-align: left;
    cursor: text;
    padding: 0;
    word-break: initial;
    white-space: pre-wrap;
    font-size: 14px;
}

table.top {
    margin-top: 10px;
}

table.bottom {
    margin-top: 20px;
}

table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
    page-break-inside: avoid;
    page-break-after: auto;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}

.td-span {
    display: inline-block;
    min-width: 1ch;
    width: 100%;
    min-height: 35px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table tr td {
    border: 1px solid #dfe2e5;
    text-align: left;
    margin: 0;
    min-width: 32px;
    min-height: 35px;
}

table tr td span {
    min-height: 35px;
    padding: 11px 13px;
}

table tr td:nth-child(1n) span {
    width: 160px;
}

table tr td:nth-child(2n) span {
    width: 236px;
}

td,
th {
    display: table-cell;
    vertical-align: inherit;
}

span[Attributes Style] {
    -webkit-user-modify: read-write;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;
}