/* 产品中心pro_center */

/* top */

.top_content {
    margin-left: 40px;
    width: 1000px;
}

.top_content .f_r a {
    float: left;
    display: block;
    line-height: 60px;
    border: 0;
    background: none;
    background-color: none;
    z-index: 20;
    margin-left: 19px;
}

.top_content .f_r a span {
    font-size: 12px;
}

.top_content .f_l {
    line-height: 60px;
}

.top_content .f_l a:nth-child(1) {
    color: #57474d;
}

.top_content .f_l a:nth-child(2) {
    color: #b7276f;
    font-weight: 700;
}

/* main title */



/* main right */

.main .right {
    padding-left: 18px;
    width: 979px;
}

.main .right .pro_list dl {
    padding: 8px 0 0 18px;
}

.main .right .pro_list dl dd {
    float: left;
    padding-left: 14px;
}

.main .right .pro_list dl dd.active a {
    color: #386ed3;
}

.main .right .pro_list dl dt {
    float: left;
    font-weight: 700;
}

.main .right .pro_list ul {
    /* overflow: hidden; */
    /* width: 557px; */
    /* height: 464px; */
    margin-top: 54px;
}

.main .right .pro_list ul li {
    float: left;
    width: 183px;
    height: 222px;
    padding-bottom: 33px;
}

.main .right .pro_list ul li a {
    display: block;
    width: 100%;
}

.main .right .pro_list ul li a img {
    width: 100%;
}

.main .right .pro_list ul li p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 168px;
    padding: 0 10px;
    font-size: 12px;
    color: #666;
}

.main .right .pro_list ul li span {
    display: inline-block;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 13px;
    color: red;
}

.nextpage {
    margin: 20px 0 0 162px;
}



.recommend_list {
    margin-top: 38px;
}

.headtop_nav_con_r {
    margin-top: 9px;
}

.icon_arr_down {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 12px;
    background: url(http://jic.makepolo.net/img/global/arr_down_back.png) center right no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

/* 关于我们 about */
.company_title .f_l h3 {
    padding-bottom: 17px;
    font-size: 16px;
}
.company_title .f_l h3 a {
    color: #333;
}
.company_title .f_l p {
    line-height: 22px;
    font-size: 14px;
    color: #666;
}
.company_title .f_r .company_info li {
    float: left;
    margin-left: 36px;
}
.company_title .f_r .company_info li img {
    display: block;
    width: 47px;
    height: 47px;
}
.company_title .f_r .company_info li p {
    margin-top: 18px;
    font-size: 13px;
    color: #666;
}
.company_profile .text_content p {
    line-height: 25px;
    color: #666;
}

.license_img div {
    padding-left: 83px;
}
.license_img div img {
    margin-right: 92px;
    margin-top: 10px;
}
.license_img div img:last-of-type {
    margin-right: 0;
}

/* 联系信息 */
.connect_msg {
    padding-left: 33px;
    margin-bottom: 46px;
}
.connect_msg .f_l ul {
    padding-top: 28px;
}
.connect_msg .f_l ul li {
    margin-bottom: 10px;
    font-size: 15px;
}
.connect_msg .f_l ul li a {
    color: #386ed3;
}
.connect_msg .f_l ul li img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.connect_msg .f_r {
    margin-top: 11px;
}
.connect_msg .f_r img {
    display: block;
    float: left;
    margin-right: 53px;
}
.connect_msg .f_r ul {
    padding-top: 35px;
    display: block;
    float: left;
}
.connect_msg .f_r ul li {
    margin-bottom: 24px;
    width: 120px;
    height: 25px;
    background: url(../images/square_blue.png);
    text-align: center;
    line-height: 25px;
}
.connect_msg .f_r ul li:first-of-type {
    background: url(../images/square_orange.png);
}
.connect_msg .f_r ul li a {
    color: #fff;
}

/* 商家地图 */
.tab_list .map {
    margin-top: 30px;
}

.license_img {
    margin-bottom: 110px;
}

/* 弹框 */
.linkbox_dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(00,00,00,0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999;
    display: none;
}
.bomb_box {
    width: 892px;
    height: 390px;
    position: fixed;
    top: 50%;
    margin-top: -195px;
    left: 50%;
    margin-left: -426px;
    background: #fff;
}
.bomb_box .close {
    background: url(http://jic.makepolo.net/css/yellow/product_medium_page/sprite/product_middle_only_20170606.png) no-repeat;
    height: 42px;
    width: 43px;
    background-position: -42px 0;
    float: right;
}
.box_title {
    width: 100%;
    height: 57px;
    border-bottom: solid 1px #33b3ed;
    margin-top: 4px;
}
.title_left {
    width: 400px;
    height: 57px;
    float: left;
    padding-left: 52px;
}
.title_right {
    float: right;
    font-size: 18px;
    color: #666;
    line-height: 62px;
    margin-right: 60px;
}
.box_main {
    width: 100%;
}
.contact {
    font-size: 20px;
    color: #333;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 20px;
    line-height: 20px;
    margin-left: 52px;
}
.box_main ul {
    /* width: 815px; */
    margin-left: 52px;
    overflow: hidden;
}
.box_main ul li {
    font-size: 18px;
    color: #666;
    float: left;
    margin-top: 5px;
    height: 60px;
    overflow: hidden;
}
.li_even {
    width: 453px;
}
.box_main ul li span {
    display: block;
    float: left;
    width: 86px;
    height: 43px;
    line-height: 43px;
}
.star_1 {
    float: left;
    background: url(http://jic.makepolo.net/css/yellow/product_medium_page/sprite/product_middle_only_20170606.png) no-repeat;
    height: 40px;
    width: 29px;
    background-position: -13px 0;
}
.box_main ul li input {
    width: 146px;
    outline-color: #e4e4e4;
    color: #333;
    padding-left: 19px;
    font-size: 19px;
    height: 39px;
    line-height: 39px;
    float: left;
    border: solid 1px #e4e4e4;
}
.box_main ul li span {
    display: block;
    float: left;
    width: 86px;
    height: 43px;
    line-height: 43px;
}
.onTip {
    height: 0 !important;
}
.bomb_box .yzm {
    width: 96px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    color: #fff;
    background-color: silver;
    font-size: 14px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
.li_odd span {
    width: 105px !important;
}
.bomb_box .button {
    width: 333px;
    height: 42px;
    margin: auto;
    margin-top: 10px;
    line-height: 42px;
    position: relative;
}
.bomb_box .button div {
    width: 120px;
    float: left;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.btn_sure {
    background-color: #ff7a33;
    color: #fff;
}
.btn_close {
    border: solid 1px #ffe1cc;
    background-color: #ffe8d1;
    color: #ff6e0c;
    margin-left: 91px;
}
.bomb_box .link_purchase {
    display: block;
    clear: both;
    text-align: center;
    margin-top: 33px;
    font-size: 20px;
    text-decoration: underline;
}
.title_left_1 {
    line-height: 57px;
    font-size: 24px;
    color: #333;
    float: left;
}
.title_left_2 {
    line-height: 60px;
    color: #fa0303;
    font-size: 23px;
    float: left;
    margin-left: 10px;
}
.bomb_box .title_p {
    width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.title_right p {
    float: left;
}
.company_logo {
    background: url(http://jic.makepolo.net/css/yellow/product_medium_page/sprite/product_middle_only_20170606.png) no-repeat;
    height: 17px;
    width: 13px;
    background-position: 0 0;
    float: left;
    margin-top: 22px;
    margin-left: 12px;
}
a:link, a:visited {
    color: #039;
}
.clearfixed {
    zoom: 1;
}