/* 产品中心pro_center */

/* top */

.top_content {
    margin-left: 40px;
    width: 1000px;
}

.top_content .f_r a {
    float: left;
    display: block;
    line-height: 60px;
    border: 0;
    background: none;
    background-color: none;
    z-index: 20;
    margin-left: 19px;
}

.top_content .f_r a span {
    font-size: 12px;
}

.top_content .f_l {
    line-height: 60px;
}

.top_content .f_l a:nth-child(1) {
    color: #57474d;
}

.top_content .f_l a:nth-child(2) {
    color: #b7276f;
    font-weight: 700;
}

/* main title */



/* main right */

.main .right {
    padding-left: 18px;
    width: 979px;
}

.main .right .pro_list dl {
    padding: 8px 0 0 18px;
}

.main .right .pro_list dl dd {
    float: left;
    padding-left: 14px;
}

.main .right .pro_list dl dd.active a {
    color: #386ed3;
}

.main .right .pro_list dl dt {
    float: left;
    font-weight: 700;
}

.main .right .pro_list ul {
    /* overflow: hidden; */
    /* width: 557px; */
    /* height: 464px; */
    margin-top: 54px;
}

.main .right .pro_list ul li {
    float: left;
    width: 183px;
    height: 222px;
    padding-bottom: 33px;
}

.main .right .pro_list ul li a {
    display: block;
    width: 100%;
}

.main .right .pro_list ul li a img {
    width: 100%;
}

.main .right .pro_list ul li p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 168px;
    padding: 0 10px;
    font-size: 12px;
    color: #666;
}

.main .right .pro_list ul li span {
    display: inline-block;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 13px;
    color: red;
}

.nextpage {
    margin: 20px 0 0 162px;
}



.recommend_list {
    margin-top: 38px;
}

.headtop_nav_con_r {
    margin-top: 9px;
}

.icon_arr_down {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 12px;
    background: url(http://jic.makepolo.net/img/global/arr_down_back.png) center right no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

/* 关于我们 about */
.company_title .f_l h3 {
    padding-bottom: 17px;
    font-size: 16px;
}
.company_title .f_l h3 a {
    color: #333;
}
.company_title .f_l p {
    line-height: 22px;
    font-size: 14px;
    color: #666;
}
.company_title .f_r .company_info li {
    float: left;
    margin-left: 36px;
}
.company_title .f_r .company_info li img {
    display: block;
    width: 47px;
    height: 47px;
}
.company_title .f_r .company_info li p {
    margin-top: 18px;
    font-size: 13px;
    color: #666;
}
.company_profile .text_content p {
    line-height: 25px;
    color: #666;
}

.license_img div {
    padding-left: 168px;
}
.license_img div img {
    margin-right: 92px;
    margin-top: 10px;
}
.license_img div img:last-of-type {
    margin-right: 0;
}

/* 联系信息 */
.connect_msg {
    padding-left: 33px;
    margin-bottom: 46px;
}
.connect_msg .f_l ul {
    padding-top: 28px;
}
.connect_msg .f_l ul li {
    margin-bottom: 10px;
    font-size: 15px;
}
.connect_msg .f_l ul li a {
    color: #386ed3;
}
.connect_msg .f_l ul li img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.connect_msg .f_r {
    margin-top: 11px;
}
.connect_msg .f_r img {
    display: block;
    float: left;
    margin-right: 53px;
}
.connect_msg .f_r ul {
    padding-top: 35px;
    display: block;
    float: left;
}
.connect_msg .f_r ul li {
    margin-bottom: 24px;
    width: 120px;
    height: 25px;
    background: url(../images/square_blue.png);
    text-align: center;
    line-height: 25px;
}
.connect_msg .f_r ul li:first-of-type {
    background: url(../images/square_orange.png);
}
.connect_msg .f_r ul li a {
    color: #fff;
}

/* 商家地图 */
.tab_list .map {
    margin-top: 30px;
}