/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}
/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 12px/1 '微软雅黑','Microsoft YaHei',Helvetica,Arial;
}
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读, 让 small 正常化 */
/** 重置列表元素 **/
ul, ol { list-style: none; }
/** 重置文本格式元素 **/
a { text-decoration: none; color:#000;}
a:hover { 
	text-decoration: none;
	color:#3863c9 !important; 
}
sup { vertical-align: text-top; } /* 重置, 减少对行高的影响 */
sub { vertical-align: text-bottom; }
/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header,f.f_l hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
button {
    background-color: none;
}
mark { background: #ff0; }
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clear {
    clear: both;
    visibility: hidden;
}
.topphone {
    color: #ff000d;
}
body { box-sizing: border-box;}
* {box-sizing: border-box;
}
.f_l {
    float: left;
}
.f_r {
    float: right;
}

/* top下拉菜单 */
/* 下拉菜单 */
.headtop_nav_con_r{ float:right; height:30px; }
.headtop_nav_con_r_common{ float:left; position:relative; margin-left:15px; z-index:99; }
.headtop_nav_con_r_common span{ display:block; float:left; height:30px; line-height:30px; text-align:right; padding-right:12px; background:url(http://jic.makepolo.net/img/global/arr_down_back.png) center right no-repeat; cursor:pointer; }
/*new-start*/
.headtop_nav_con_r_common span.headtopcon_now_current{ display:block;color:#db4f33; float:left; height:30px; line-height:30px; padding-right:12px; background:url(http://jic.makepolo.net/img/global/arr_down_back.png) center right no-repeat; cursor:pointer; }
.headtop_nav_con_r_common span i {position: absolute;top: -2px;right:51px;margin: 10px 5px 0 4px;width: 9px;height: 14px;display: inline-block;background-image: url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);background-position: -630px -36px;background-repeat: no-repeat;}
.ma i{width:138px;height:148px;background-image:url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);background-position:-148px 0;display:block}
/*new-end*/
.headtop_nav_con_r span.headtopcon_user_current{ color:#db4f33; background:url(http://jic.makepolo.net/img/icon_all/public_icon.png) no-repeat; background-position: 0 -111px; }
.topnavcon_arrow{ position:absolute; left:50%; top:-10px; margin-left:-7px; width:15px; height:10px; background:url(http://jic.makepolo.net/img/icon_all/public_icon.png) no-repeat; background-position: 0 -957px; }
.nums{ position:absolute; right:-12px; top:-13px; width:15px; height:16px; line-height:16px; vertical-align:middle; text-align:center; color:#FFF; background:url(http://jic.makepolo.net/img/icon_all/public_icon.png) no-repeat; background-position: 0 -1617px; }
.topnavcon_user_popup{ display:none; position:absolute; top:37px;left:-43px; padding-top:4px; background:#fff; border:1px #ddd solid; -webkit-box-shadow:1px 1px 1px rgba(0,0,0,.1); box-shadow:1px 1px 1px rgba(0,0,0,.1); }
.topnavcon_user_center div.topnavcon_user_popup{ right:50%; margin-right:-71px; }
.topnavcon_user_name div.topnavcon_user_popup{ right:50%; margin-right:-71px; }
.topnavcon_user_name div.topnavcon_user_popup div.topnavcon_user_item a{ text-align:center; }
.topnavcon_user_message{float:left; position:relative; margin:0 0px 0 15px; z-index:99; height:24px; cursor:pointer; }
.topnavcon_user_message div.topnavcon_user_popup{ left:-62px; padding-bottom:4px; top:25px; }
.topnavcon_user_message div.topnavcon_user_popup div.topnavcon_user_item a{ width:112px; padding:0 10px; text-align:left; overflow:hidden; }
.topnavcon_user_message div.topnavcon_user_popup div.topnavcon_user_item a i{ float:right; }
.topnavcon_user_item{ height:30px; margin:0 4px; }
.topnavcon_user_item a{ display:block; height:30px; line-height:30px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.topnavcon_user_item a:link,.headtopcon_user_item a:visited{ color:#333; }
.topnavcon_user_item a:hover{ color:#db4f33; }
.topnavcon_user_item a:active{ color:#db4f33; }

.topnavcon_user_items { width:145px; padding:5px 10px 7px 10px; }
.topnavcon_user_items dl{ width:145px; }
.topnavcon_user_items dl dt{ height:22px;line-height:22px; vertical-align:middle; font-weight:bold; }
.topnavcon_user_items dl dd{ width:67px; height:22px; line-height:22px; float:left; text-align:left; }
.topnavcon_server div.topnavcon_user_popup{ left:-40px; }
.topnavcon_nav_menu div.topnavcon_user_popup{ left:-80px; }
.dash_line{ width:100%; height:1px; background:url(http://jic.b2b.makepolo.com/img/global/line_sp.gif) repeat-x; margin:6px 0 8px 0; _margin:8px 0 0 0; }

.nav_menu{ width:200px; padding:5px 10px 7px 10px; }
.nav_menu dl{ width:185px; }
.nav_menu dl dt{ height:22px; line-height:22px; vertical-align:middle; font-weight:bold; }
.nav_menu dl dd{ width:90px; height:20px; float:left; }
.topnavcon_help div.topnavcon_user_popup{ left:-30px; }

.nav_help{ /*width:60px;*/ padding:0 10px 7px 10px; }
.nav_help dl{ width:60px; }
.nav_help dl dd{height:22px; line-height:22px; vertical-align:middle; text-align:center; }
.nav_help dl dd a{ display:block; height:26px; padding:0 5px; line-height:26px; vertical-align:middle; text-align:center; }
.nav_help dl dd a:link,.nav_help dl dd a:visited{ color:#333; }
.nav_help dl dd a:hover{ background:#fff; color:#db4f33; }
.nav_help dl dd a:active{ color:#db4f33; }
.headtopcon_user_member {float: left;height: 30px;line-height: 30px; margin-left: 15px;}

/* 底部友情链接 */
.nav_bottom_box {
	width:100%;
	background:#f5f5f5;
    border-bottom:1px solid #999;
    overflow: hidden;
}
.nav_bottom_box .nav_bottom {
	width:1200px;
	margin: 57px auto 0 auto;
	padding-bottom:30px;
}
.nav_bottom .friend_link dt {
	font-size: 15px;
	color:#1c1c1c;
	box-sizing:border-box;
	padding:34px 0 20px 0;
}
.nav_bottom .friend_link dd {
	margin:0 12px 0 8px;
	float: left;
}
.nav_bottom .friend_link dd span {
	color:#999;
	margin-left:12px;
}
.nav_bottom .friend_link dd a { 
	color:#666;
}
.nav_bottom .web_link dl {
	margin-right:212px;
	float: left;
}
.nav_bottom .web_link dl:nth-child(5n+5) {
	margin-right:0;
}
.nav_bottom .web_link dt {
	font-size:15px;
	color:#1c1c1c;
	margin:39px 0 20px 0;
}
.nav_bottom .web_link dd {
	margin-top:11px;
}
.nav_bottom .web_link dd a {
	color:#666;
}
footer {
	width:100%;
	background:#f5f5f5;
	text-align:center;
	padding-bottom:34px;
}
footer .letter {
	color: #1c1c1c;
	padding-top:20px;	
}
footer .letter a {
	margin-left:16px;
	color:#666;
}
footer .inside_link {
	margin-top:20px;
}
footer .inside_link a {
	color: #666;
}
footer .inside_link span {
	color:#999;
	margin:0 12px;
}
footer .approve {
	margin-top:20px;
}
footer .approve p a {
	color:#666;
}
footer .approve p:nth-child(2) {
	margin-top:5px;
}
footer .pic_link {
	margin-top:20px;
}
footer .pic_link a {
	display:inline-block;
	width:112px;
	height:41px;
	background:url(../imgs/icon.png) no-repeat;
	margin-right:12px;
}
footer .pic_link a:nth-child(1) {
	background-position: -160px -311px;
}
footer .pic_link a:nth-child(2) {
	background-position: -160px -170px;
}
footer .pic_link a:nth-child(3) {
	background-position: -160px -241px;
}
footer .pic_link a:nth-child(4) {
	background-position: -160px -100px;
}