.img-wrap {
	.img {
		width:100%;
		height:300px;
		margin-top:40px;
	}
} 
.con-wrap {
	margin-top:90px;
	.title {
		font-size:30px;
		color:#333;
		margin-bottom:40px;
	}
	.con {
		font-size:28px;
		color:#666;
	}
}