@import '../../styles/common.scss';
.next-btn {
	display:block;
	width:80%;
	height:84px;
	line-height:84px;
	text-align:center;
	font-size:28px;
	margin:86px auto;
	background:#3ba9db;
	color:#fff;
	border-radius:20px;
}