@import '../../styles/mixins.scss';
page {
	background:#f6f6f6;
	.no-artical {
		margin-top:206px;
		text-align: center;
		.wran {
			display: block;
			color: #999;
			font-size: 26px;
			margin-bottom: 45px;
		}
		.write {
			@include no-con;
		}
	}
	.wrap {
		margin-top:30px;
		padding-bottom: 30px;
	}
	.item-wrap {
		width:100%;
		margin-bottom:20px;
		background:#fff;
		.top {
			display:flex;
			justify-content: space-between;
			box-sizing:border-box;
			padding:20px 7px 8px 14px;
		}
		.con {
			width:60%;
			height:140px;
			font-size:30px;
			color:#333;
			line-height: 1.5;
			text-overflow: -o-ellipsis-lastline;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			line-clamp: 3;
			-webkit-box-orient: vertical;
		}
		.con-img {
			width:214px;
			height:140px;
		}
		.bottom {
			display:flex;
			.share {
				position: relative;
				display: inline;
				padding: 0;
				font-size: 26px;
				color: #666;
				background:#fff;
				&::after {
					border: none;
				}
			}
			.b-i {
				width:33.3%;
				height:64px;
				text-align:center;
				line-height:64px;
				font-size:26px;
				color:#666;
				.img {
					margin-right:16px;
					vertical-align:middle;
				}
				.img-edit {
					width:30px;
					height:30px;
				}
				.img-preview {
					width:30px;
					height:24px;
				}
				.img-share {
					width:30px;
					height:30px;
				}
			}
		}
	}
}