.login {
	.nav-title {
		margin-top:55px;
		font-size:30px;
		.nActive {
			display:inline-block;
			width:50%;
			height: 80px;
			line-height: 80px;
			text-align:center;
		}
		.active {
			display:inline-block;
			width:50%;
			height: 80px;
			line-height: 80px;
			text-align:center;
			color:#3ba9db;
		}
	}
	.logo-wrap {
		text-align:center;
		margin:106px 0;
		.logo {
			width:304px;
			height:98px;
		}
	}
	.zw-wrap {
		display:flex;
		justify-content:center;
		margin:40px auto;
		width:80%;
		color:#999;
		font-size:28px;
	}
}