/*顶部导航 */
.headtop_nav{ height:29px;background: #f5f5f5;border-bottom: 1px solid #aeaeae;}
.headtop_nav a{ padding-right:6px; }
.headtop_nav a:link{ color:#333; text-decoration:none; }
.headtop_nav a:visited{ color:#333; text-decoration:none; }
.headtop_nav a:hover{ color:#db4f33; text-decoration:none; }
.headtop_nav a.link_red { color:#DB4F33; }
.headtop_nav a.link_blue { color:#125dc3; }
/*.headtop_nav_con{ width:960px; margin:0 auto; }*/
.headtop_nav_con{ width:1200px; margin:0 auto; }
.headtop_nav_con_index{ width:1200px; margin:0 auto; }
.headtop_nav_con_l{ float:left; height:30px; line-height:30px; }
.headtop_nav_con_l a{ display:inline-block; }

.headtop_nav_con_l .rel{ position:relative; display:inline-block; }
.headtopcon_login2{ float:left; padding-left:22px; line-height:30px; vertical-align:middle; height:30px; vertical-align:middle; }
.input_top{ width:98px; float:left; margin-right:9px; margin-top:3px; height:22px; border:1px solid #CCC; color:#666; padding:0 5px; }
.headtop_nav_con_r{ float:right; height:30px; }
.headtop_nav_con_r_common{ float:left; position:relative; margin-left:15px; z-index:99; }
.headtop_nav_con_r_common span{ display:block; float:left; height:30px; line-height:30px; text-align:right; padding-right:12px; background:url(http://jic.makepolo.net/img/global/arr_down_back.png) center right no-repeat; cursor:pointer; }
/*new-start*/
.headtop_nav_con_r_common span.headtopcon_now_current{ display:block;color:#db4f33; float:left; height:30px; line-height:30px; padding-right:12px; background:url(http://jic.makepolo.net/img/global/arr_down_back.png) center right no-repeat; cursor:pointer; }
.headtop_nav_con_r_common span i {position: absolute;top: -2px;right:51px;margin: 10px 5px 0 4px;width: 9px;height: 14px;display: inline-block;background-image: url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);background-position: -630px -36px;background-repeat: no-repeat;}
.ma i{width:138px;height:148px;background-image:url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);background-position:-148px 0;display:block}
/*new-end*/
.headtop_nav_con_r span.headtopcon_user_current{ color:#db4f33; background:url(http://jic.makepolo.net/img/icon_all/public_icon.png) no-repeat; background-position: 0 -111px; }
.topnavcon_arrow{ position:absolute; left:50%; top:-10px; margin-left:-7px; width:15px; height:10px; background:url(http://jic.makepolo.net/img/icon_all/public_icon.png) no-repeat; background-position: 0 -957px; }
.nums{ position:absolute; right:-12px; top:-13px; width:15px; height:16px; line-height:16px; vertical-align:middle; text-align:center; color:#FFF; background:url(http://jic.makepolo.net/img/icon_all/public_icon.png) no-repeat; background-position: 0 -1617px; }
.topnavcon_user_popup{ display:none; position:absolute; top:37px;left:-43px; padding-top:4px; background:#fff; border:1px #ddd solid; -webkit-box-shadow:1px 1px 1px rgba(0,0,0,.1); box-shadow:1px 1px 1px rgba(0,0,0,.1); }
.topnavcon_user_center div.topnavcon_user_popup{ right:50%; margin-right:-71px; }
.topnavcon_user_name div.topnavcon_user_popup{ right:50%; margin-right:-71px; }
.topnavcon_user_name div.topnavcon_user_popup div.topnavcon_user_item a{ text-align:center; }
.topnavcon_user_message{float:left; position:relative; margin:0 0px 0 15px; z-index:99; height:24px; cursor:pointer; }
.topnavcon_user_message div.topnavcon_user_popup{ left:-62px; padding-bottom:4px; top:25px; }
.topnavcon_user_message div.topnavcon_user_popup div.topnavcon_user_item a{ width:112px; padding:0 10px; text-align:left; overflow:hidden; }
.topnavcon_user_message div.topnavcon_user_popup div.topnavcon_user_item a i{ float:right; }
.topnavcon_user_item{ height:30px; margin:0 4px; }
.topnavcon_user_item a{ display:block; height:30px; line-height:30px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.topnavcon_user_item a:link,.headtopcon_user_item a:visited{ color:#333; }
.topnavcon_user_item a:hover{ color:#db4f33; }
.topnavcon_user_item a:active{ color:#db4f33; }

.topnavcon_user_items { width:145px; padding:5px 10px 7px 10px; }
.topnavcon_user_items dl{ width:145px; }
.topnavcon_user_items dl dt{ height:22px;line-height:22px; vertical-align:middle; font-weight:bold; }
.topnavcon_user_items dl dd{ width:67px; height:22px; line-height:22px; float:left; text-align:left; }
.topnavcon_server div.topnavcon_user_popup{ left:-40px; }
.topnavcon_nav_menu div.topnavcon_user_popup{ left:-80px; }
.dash_line{ width:100%; height:1px; background:url(http://jic.b2b.makepolo.com/img/global/line_sp.gif) repeat-x; margin:6px 0 8px 0; _margin:8px 0 0 0; }

.nav_menu{ width:200px; padding:5px 10px 7px 10px; }
.nav_menu dl{ width:185px; }
.nav_menu dl dt{ height:22px; line-height:22px; vertical-align:middle; font-weight:bold; }
.nav_menu dl dd{ width:90px; height:20px; float:left; }
.topnavcon_help div.topnavcon_user_popup{ left:-30px; }

.nav_help{ width:60px; padding:0 10px 7px 10px; }
.nav_help dl{ width:60px; }
.nav_help dl dd{height:22px; line-height:22px; vertical-align:middle; text-align:center; }
.nav_help dl dd a{ display:block; height:26px; padding:0 5px; line-height:26px; vertical-align:middle; text-align:center; }
.nav_help dl dd a:link,.nav_help dl dd a:visited{ color:#333; }
.nav_help dl dd a:hover{ background:#fff; color:#db4f33; }
.nav_help dl dd a:active{ color:#db4f33; }
.headtopcon_user_member {float: left;height: 30px;line-height: 30px; margin-left: 15px;}
/*顶部搜索*/
.i_header{width:1200px;margin:0 auto}
.i_header{margin-bottom:15px}
.i_logo{width:160px;height:60px;float:left;padding:30px 0 0 0;clear:both;}
.i_logo a{display:block;width:160px;height:60px;background-image:url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);background-position:0 -152px;text-indent:-99em;overflow:hidden}
.i_search{width:720px;float:left;margin:23px 0 0 48px;position:relative;z-index:1}
.i_search_tab{height:24px;overflow:hidden}
.i_search_tab li{height:24px;float:left;text-align:center;padding-right:10px;margin-right:10px;overflow:hidden}
.i_search_tab li a{display:block;height:14px;padding-bottom:10px}
.i_search_tab li a:link{color:#333;text-decoration:none}
.i_search_tab li a:visited{color:#333;text-decoration:none}
.i_search_tab li a:hover{color:#333;text-decoration:none}
.i_search_tab li a.i_search_tab_focus{background-image:url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);background-position:-505px 0}
.i_search_tab li a.i_search_tab_focus:link{color:#3863c9;text-decoration:none;font-weight:bold}
.i_search_tab li a.i_search_tab_focus:visited{color:#3863c9;text-decoration:none;font-weight:bold}
.i_search_tab li a.i_search_tab_focus:hover{color:#3863c9;text-decoration:none;font-weight:bold}
.i_search_con{width:714px;height:37px;border:3px solid #395DBB;overflow:hidden}
.i_search_inputtxt{width:600px;height:14px;float:left;padding:12px 0 12px 24px;border:0;background:none;outline:none}
.i_search_btn{width:90px;height:37px;float:left;cursor:pointer;border:0;background:#3863c9;color:#fff;text-align:center;line-height:37px;font-size: 14px;}
.i_search_btn_focus{background-image:url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);background-position:-477px -82px}
.i_search_keyword{padding-top:8px}
.i_search_keyword a{padding-right:5px}
.i_search_keyword a:link{color:#aaa;text-decoration:none}
.i_search_keyword a:visited{color:#aaa;text-decoration:none}
.i_search_keyword a:hover{color:#db4f33;text-decoration:none}
.i_fp{margin-top:4px;}
.i_freepost,.i_fp{float:right;margin:51px 0 0 0;}
.i_freepost a{display:inline-block; width:108px;height:38px;text-align:center;line-height:38px;float: left; background:#f5f5f5;color:#333;border:1px solid #dddddd;border-radius:8px}
.i_freepost a:nth-child(2) {margin-left: 20px;}
.i_freepost a:hover,.i_fp a:hover{color:#dc4f33}
.f_nav {
	width:1200px;
	height:40px;
	margin:0 auto;
}
.f_nav .all_cats {
	width:252px;
	height:40px;
	background:#3863c9;
	color:#fff;
	line-height:40px;
	padding-left:22px;
	box-sizing: border-box;
}
.f_nav .all_cats .all_cats_logo {
	display:inline-block;
	width:20px;
	height:16px;
	background:url(../imgs/icon.png) no-repeat;
	background-position:-160px -372px;
	vertical-align:middle;
	margin:0 13px 0 23px;
}
.f_nav li {
	float: left;
	font-size:17px;
	padding:0 43px;
	height:40px;
	line-height:40px;
}
.f_nav li a:hover {
	color:#3863c9;
}
.f_nav li a {
	color:#333;
}
.nav_con {
    position: relative;
    width: 1200px;
    height:410px;
    margin: 0 auto;
    overflow: hidden;
}
.nav_con_l {
	width: 252px;
	height:370px;
    float: left;
    background-color: #f5f5f5;
}
.nav_con_l ul {
	margin-top:6px;
}
.nav_con_l li {
	width: 252px;
	height: 30px;
	line-height: 30px;
	box-sizing:border-box;
	padding-left:22px;
	font-size:14px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.nav_con_l li.activei {
	background-color:#3863c9;
}
.nav_con_l li.activei a {
	color:#fff;
}
.nav_con_l li a {
	display:block;
	color:#666;
}
.nav_con_l li.activei a:hover {
	color:#fff !important;
}
.sidebar_con {
	width: 694px;
	border-top: 1px solid #3863c9;
	box-shadow:-5px 5px 10px -4px rgba(153,153,153,0.2),5px 5px 10px -4px rgba(153,153,153,0.2);
	margin-left:11px;
	display:none; 
	position: absolute;
	left: 251px;
	z-index:999;
	background-color:#fff;
}
.sidebar_con .sidebar_con_title {
	float: left;
	width: 88px;
	text-align: right;
	color:#333;
	font-size:14px;
	box-sizing:border-box;
	padding: 11px 12px 0 0;
}

.sidebar_con .sidebar_con_title i {
	display:inline-block;
	width:6px;
	height: 9px;
	background:url(../imgs/icon.png) no-repeat;
	background-position:-160px -399px;
}
.sidebar_con .sidebar_con_box ul {
	width:600px;
	float: left;
	padding:1px 0 18px 0;
	border-bottom:1px solid #dddddd;
}
.sidebar_con .sidebar_con_box li {
	float: left;
	margin-right:12px;
}
.sidebar_con .sidebar_con_box li a {
	display:inline-block;
	color:#666;
	margin-top:12px;
	cursor: pointer;
}
.sidebar_con .more_sb_wrapper{
	width:100%;
	height:78px;
	position: relative;
	text-align:center;
	line-height:78px;
	font-size:20px;
	clear:both;
}
.nav_con_m {
	width:694px;
	height:360px;
	background:#ccc;
	float: left;
	margin-left:10px;
	margin-top:10px;
}
.focus{
	width:694px;
	height:360px;
	overflow:hidden;
	position:relative;
}
.focus ul{
	height:360px;
	position:absolute;
}
.focus ul li{
	float: left;
	width:694px;
	height:360px;
	overflow:hidden;
	position:relative;
	background:#fff url(http://jic.makepolo.net/img/index/loading-sy.gif) center no-repeat
}
.focus ul li div{
	position:absolute;
	overflow:hidden;
}
.focus ul li img{
	width:694px;
	height:360px;
}
.focus .btnBg{
	position:absolute;
	width:694px;
	height:20px;
	left:0;
	bottom:0;
	background:#000;
	display:none;
}
.focus .btn{
	position:absolute;
	height:23px;
	padding:0 10px 0 10px;
	right:0;
	bottom:6px
}
.focus .btn span{
	_zoom:1;
	float: left;
	margin:0 10px;
	background:#FFF;
	display:block;
	padding-top:9px;
	width:9px;
	height:0;
	-webkit-border-radius:50%;
	-moz-border-radius:50%; 
	-ms-border-radius:50%; 
	-o-border-radius:50%;
	border-radius:50%;
	overflow:hidden;
}
.focus .btn span.on{
	background:#db5031
}
.focus .preNext{
	width:45px;
	height:100px;
	position:absolute;
	top:50%;
	margin-top:-50px;
	cursor:pointer
}
.focus .pre{
	left:0;
	background-image:url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);
	background-position:-287px 0
}
.focus .next{
	right:0;
	background-position: right top;
	background-image:url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);
	background-position:-287px -102px
}
.nav_con_r {
	position: absolute;
	top:0;
	right:0;
	width:232px;
	height:410px;
}
.reg_log_box {
	overflow:hidden;
	width:232px;
}
.reg_log_box a {
	display:inline-block;
	width:110px;
	height: 40px;
	text-align:center;
	line-height:40px;
	border-radius:7px;
	font-size: 14px;
}
.reg_log_box .log {
	background-color:#3863c9;
	color:#fff;
	float: left;
}
.reg_log_box .log:hover {
	color:#fff !important;
}
.logged_box {
	border:1px solid #ddd;
	box-sizing: border-box;
    padding: 5px 0 5px 10px;
}
.logged_box .hello {
	display:inline-block;
	color:#858585;
	margin-bottom:9px;
}
.logged_box .company {
	color:#333;
}
.reg_log_box .reg {
	width:108px;
	height: 40px;
	line-height:40px;
	box-sizing:border-box;
	border:1px solid #3863c9;
	color:#3863c9;
	float: right;
}
.buyer_sale_box {
	width: 230px;
	border:1px solid #dddddd;
	margin-top:20px;
	overflow:hidden;
}
.buyer_sale_box ul {
	overflow:hidden;
}
.buyer_sale_box .li1 {
	width:114px;
	height: 28px;
	border-bottom: 1px solid #dddddd;
	background-color:#f5f5f5;
	color:#333333;
	font-size:14px;
	text-align:center;
	line-height:28px;
	float: left;
	cursor:pointer;
}
.buyer_sale_box .li1:nth-child(2) {
	border-left:1px solid #dddddd;
	width:115px;
}
.buyer_sale_box .li1.current {
	background-color:#fff;
	border-bottom:none;
	font-weight:bold;
}
.buyer_sale_con {
	width:230px;
	box-sizing:border-box;
	padding-bottom:17px;
}
.buyer_sale_con .bs {
	display: none;
}
.buyer_sale_con .bs li {
	float: left;
	min-width: 73px;
	margin:21px 0 0 12px;
	font-size:12px;
	color:#666666;
}
.buyer_sale_con .bs li a {
	color:#666;
}
.buyer_sale_con .bs li i {
	display:inline-block;
	width:12px;
	height: 12px;
	margin-right:13px;
	background:url(../imgs/icon.png) no-repeat;
}
.buyer_sale_con .bs li:nth-child(1) i {
	background-position:-230px -376px;
}
.buyer_sale_con .bs li:nth-child(2) i {
	background-position:-204px -376px;
	margin-left:25px;
}
.buyer_sale_con .bs li:nth-child(3) i {
	background-position:-279px -376px;
}
.buyer_sale_con .bs li:nth-child(4) i {
	background-position:-256px -376px;
	margin-left:25px;
}
.nav_con_r .web_advantage {
	width:230px;
	margin-top:20px;
	border:1px solid #ddd;
	overflow:hidden;
	padding-bottom:29px;
}
.nav_con_r .web_advantage ul {
	overflow:hidden;
}
.nav_con_r .web_advantage .title {
	font-size:14px;
	color:#333;
	width:230px;
	height:30px;
	border-bottom: 1px solid #ddd;
	line-height:30px;
	box-sizing:border-box;
	padding-left:6px;
	font-weight:bold;
}
.nav_con_r .web_advantage li {
	float: left;
	font-size:13px;
	margin-top:27px;
	margin-left:21px;
}
.nav_con_r .web_advantage li a {
	color:#666;
}
.nav_con_r .web_advantage li i {
	display:inline-block;
	width:24px;
	height:24px;
	margin-right:12px;
	vertical-align:middle;
}
.nav_con_r .web_advantage li:nth-child(1) i {
	background-image: url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);
    background-position: -533px 0;
}
.nav_con_r .web_advantage li:nth-child(2) i {
	background-image: url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);
    background-position: -556px -173px;
}
.nav_con_r .web_advantage li:nth-child(3) i {
	background-image: url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);
    background-position: -559px 0;
}
.nav_con_r .web_advantage li:nth-child(4) i {
	background-image: url(http://jic.makepolo.cn/css/index/sprite/tuiguang.jpg);
}
.nav_con_r .web_advantage li:nth-child(5) i {
	background-image: url(http://jic.makepolo.cn/css/index/sprite/index-1501016.png);
    background-position: -144px -251px;
}
.nav_con_r .web_advantage li:nth-child(6) i {
	background-image: url(http://jic.makepolo.cn/css/index/sprite/qiyebangbang-icon.jpg);
}
.m_pro_wrapper {
	width:1200px;
	margin:20px auto;
}
.m_pro_l {
	float:left;
	width:252px;
	height:247px;
	background:#ccc;
}
.m_pro_r {
	float:right;
}
.m_pro_r li {
	float:left;
	width:228px;
	height:247px;
	margin-right:8px;
	box-sizing:border-box;
	border:1px solid #f0f0f0;
}
.m_pro_r li:nth-child(4n+4) {
	margin-right:0;
}
.m_pro_r li img {
	width:226px;
	height:160px;
}
.m_pro_r li .title {
	margin-top: 26px;
	box-sizing:border-box;
	padding:0 12px;
	font-size: 14px;
	color:#666;
}
.pro_item {
	width:1200px;
	margin:0 auto 20px;
}
.pro_item .item_wrapper {
	float: left;
	line-height:63px;
}
.pro_item .one {
	float: left;
	margin-right:14px;
}
.pro_item .item {
	color:#333;
	font-size:18px;
	margin-right:30px;
}
.item_con {
	margin-top:14px;
}
.item_con_l {
	float: left;
	position:relative;
	margin-right:9px;
	width:252px;
	height:464px;
	background:url(../imgs/one_con.png) no-repeat;
} 
.item_con_l.two {
	background:url(../imgs/two_con.png) no-repeat;
}
.item_con_l.three {
	background:url(../imgs/three_con.png) no-repeat;
}
.item_con_l.four {
	background:url(../imgs/four_con.png) no-repeat;
}
.item_con_l .title {
	position: absolute;
	top:45px;
	left:28px;
	color:#fff; 
}
.item_con_l .title h1 {
	font-size:24px;
	margin-bottom:10px;
}
.item_con_l .title h2 {
	margin
}
.item_con_l .l_bottom {
	width:252px;
	height:252px;
	position: absolute;
	left:0;
	bottom:0;
	box-sizing:border-box;
	padding:30px 0 0 20px;

}
.item_con_l .l_bottom a {
	display:inline-block;
	color:#fff;
	margin-right:16px;
	margin-bottom:16px;
	font-size:14px;
}
.item_con_m {
	float: left;
	width:370px;
	height:464px;
	box-sizing:border-box;
	padding-left:28px;
	padding-top:19px;
}
.item_con_m dt {
	font-size: 16px;
	margin:19px 0 44px 0;
}
.item_con_m dt a {
	color:#333;
}
.item_con_m dd {
	margin-right: 30px;
	margin-bottom: 21px;
	float: left;
}
.item_con_m dd a {
	color: #666;
}
.item_con_r {
	float: right;
	width: 560px;
	height:464px;
}
.item_con_r li {
	float: left;
	margin-right:10px;
	margin-bottom:20px;
	width:180px;
}
.item_con_r li:nth-child(3n+3) {
	margin-right:0;
}
.item_con_r li .img_wrapper {
	width:180px;
	height:180px;
	box-sizing:border-box;
	border:1px solid #f0f0f0;
}
.item_con_r li .r_img {
	width:178px;
	height:178px;
}
.item_con_r li .title {
	margin-top:6px;
	color:#666;
	font-size:12px;
}
.item_con_r li .price {
	margin-top:10px;
	color: #e31a3c;
	font-size:12px;
}

/* 广告栏 */
.banner {
	width: 1200px;
	height: 247px;
	margin: 19px auto 0 auto;
}
.banner .banner_hd {
	width: 252px;
	height: 247px;
	float: left;
}
.banner .banner_bd {
	width: 940px;
	height: 247px;
	margin-left: 8px;
	padding: 0 14px;
	float: left;
}
.banner .banner_bd li {
	width: 200px;
	height: 247px;
	margin-left: 37px;
	float: left;
}
.banner .banner_bd li:first-child {
	margin-left: 0;
}
.banner .banner_bd li a {
	display: block;
}
.banner .banner_bd li a img {
	width: 200px;
	height: 161px;
	display: block;
}
.banner .banner_bd li a p {
	width: 200px;
	height: 86px;
	text-align: center;
	font-size: 13px;
	padding-top: 24px;
	line-height: 19px;
	color: #666;
}

/* 产品栏 */
.pro_contain { 
	margin: 0 auto;
	margin-top: 20px;
}
.pro_contain .pro_item {}
.pro_contain .pro_item .pro_hd {
	width: 1200px;
	/* height: 62px; */
	/* padding-top: 38px; */
	line-height: 62px;
	position: relative;
	/* background-color: #eee; */
	color: #fff;
}
.pro_contain .pro_item .pro_hd .pro_index {
	margin-left: 19px;
	color: #fff;
}
.pro_contain .pro_item .pro_hd .pro_icon {
	position: absolute;
	left: -35px;
	width: 62px;
	height: 59px;
	background: url(../imgs/ball.png);
	z-index: 0;
}
.pro_contain .pro_item:nth-child(2) .pro_hd .pro_icon {
	background: url(../imgs/ball2.png);
}
.pro_contain .pro_item:nth-child(3) .pro_hd .pro_icon {
	background: url(../imgs/ball3.png);
}
.pro_contain .pro_item:nth-child(4) .pro_hd .pro_icon {
	background: url(../imgs/ball4.png);
}
.pro_contain .pro_item .pro_hd span {
	position: relative;
	margin-left: 37px;
	color: #666;
	font-size: 18px;
	z-index: 2;
}
.pro_contain .pro_item .pro_hd a span {
	position: relative;
	margin-left: 37px;
	color: #666;
	font-size: 18px;
	z-index: 2;
}
.pro_contain .pro_item .pro_bd {
	overflow: hidden;
	width: 1200px;
}
/* pro_nav */
.pro_contain .pro_item .pro_bd .pro_nav {
	float: left;
	width: 252px;
	height: 464px;
	padding: 0 7px;
	color: #fff;
	background-color: #58abff;
	overflow: hidden;
}
.pro_contain .pro_item:nth-child(2) .pro_bd .pro_nav {
	background-color: #00d7ea;
}
.pro_contain .pro_item:nth-child(3) .pro_bd .pro_nav {
	background-color: #a47ced;
}
.pro_contain .pro_item:nth-child(4) .pro_bd .pro_nav {
	background-color: #fe8e99;
}
.pro_contain .pro_item .pro_bd .pro_nav .nav_hd {
	width: 100%;
	height: 210px;
	border-bottom: 1px dashed #fff;
	padding-top: 44px;
	position: relative;
}
.pro_contain .pro_item .pro_bd .pro_nav .nav_hd::after {
	content: "";
	position: absolute;
	right: -41px;
	top: 4px;
	width: 175px;
	height: 175px;
	background: url(../imgs/wheel.png)
}
.pro_contain .pro_item .pro_bd .pro_nav .nav_hd a p {
	display: block;
	font-size: 18px;
	padding-left: 7px;
	padding-bottom: 14px;
	color: #fff;
}
.pro_contain .pro_item .pro_bd .pro_nav .nav_hd a p:first-child {
	font-size: 24px;
	padding-top: 14px;
}
.pro_contain .pro_item .pro_bd .pro_nav .nav_bd {
	width: 100%;
	height: 100%;
	padding-left: 7px;
	padding: 28px 0 0 7px;
}
.pro_contain .pro_item .pro_bd .pro_nav .nav_bd ul {
	padding-left: 4px;
	overflow: hidden;
}
.pro_contain .pro_item .pro_bd .pro_nav .nav_bd ul li {
	float: left;
	margin: 0 22px 18px 0;
}
.pro_contain .pro_item .pro_bd .pro_nav .nav_bd ul li a{ color: #fff;}
.pro_contain .pro_item .pro_bd .pro_nav .nav_bd p a {
	color: #fff;
}
/* pro_cate */
.pro_contain .pro_item .pro_bd .pro_cate {
	float: left;
	margin-left: 10px;
}
.pro_contain .pro_item .pro_bd .pro_cate dl {
	padding: 37px 24px;
	width: 379px;
}
.pro_contain .pro_item .pro_bd .pro_cate dt {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 34px;
}
.pro_contain .pro_item .pro_bd .pro_cate dd a {
	float: left;
	font-size: 15px;
	margin-right: 18px;
	color: #666;
}
.pro_contain .pro_item .pro_bd .pro_cate dd:last-child {
	margin-right: 0;
}
/* pro_main */
.pro_contain .pro_item .pro_bd .pro_main {
	float: left;
}
.pro_contain .pro_item .pro_bd .pro_main ul {
	overflow: hidden;
	width: 557px;
	height: 464px;
}
.pro_contain .pro_item .pro_bd .pro_main ul li {
	float: left;
	width: 33.33%;
	padding-bottom: 33px;
}
.pro_contain .pro_item .pro_bd .pro_main ul li a {
	display: block;
	width: 100%;
}
.pro_contain .pro_item .pro_bd .pro_main ul li a img {
	width: 100%;
}
.pro_contain .pro_item .pro_bd .pro_main ul li p {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 168px;
	padding: 0 10px;
	font-size: 12px;
	color: #666;
}
.pro_contain .pro_item .pro_bd .pro_main ul li span {
	display: inline-block;
	padding-top: 10px;
	margin-left: 10px;
	font-size: 13px;
	color: red;
}