.navigation {
  position: relative;
  background: #3ba9db;
  .navigation-box {
    display: flex;
    justify-content: space-between;
    margin-top:13Px;
    margin-left: 30px;
    width: 70Px;
  }
  .back {
    width: 20px;
    height: 39px;
  }
  .index {
    width: 40px;
    height: 39px;
  }
}